<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>S Travel</title>
    <link rel="stylesheet" href="contact.css" />
  </head>
  <body>
    <header class="header">
      <div class="brand">
        <a href="../HomePage/home.html"
          ><img src="../../images/logo-s.png" alt="logo" class="brand_logo"
        /></a>
        <a href="../HomePage/home.html" style="text-decoration: none"
          ><p class="brand_name">S Travel</p></a
        >
      </div>

      <nav class="navbar">
        <a href="../HomePage/home.html" class="navbar_link">Home</a>
        <a href="../AboutPage/about.html" class="navbar_link">About Us</a>
        <a href="./contact.html" class="navbar_link">Contact Us</a>
      </nav>

      <div class="searchbar">
        <div class="inputbar">
          <input
            type="text"
            placeholder="Enter a destination or keyword"
            class="input"
          />
        </div>

        <div class="searchbar_buttons">
          <img src="../../images/look-up-svgrepo-com.svg" alt="search" />

          <button class="searchBtn">Search</button>
          <button class="clearBtn">Clear</button>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="main_container">
        <div class="social_bar">
          <a href="http://twitter.com"
            ><img src="../../images/twitter_colored.svg" alt="twitter"
          /></a>
          <a href="http://facebook.com"
            ><img src="../../images/facebook_colored.svg" alt="twitter"
          /></a>
          <a href="http://instagram.com"
            ><img src="../../images/instagram_colored.svg" alt="twitter"
          /></a>
          <a href="http://youtube.com"
            ><img src="../../images/youtube_colored.svg" alt="twitter"
          /></a>
        </div>

        <div class="main_content">
          <div class="main_info">
            <div class="main_title">
              <h1>Contact Us</h1>
            </div>
            <div class="main_subtitle">
              <h6>Get in touch</h6>
            </div>
          </div>

          <div class="main_form">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter your name"/>

            <label for="email">E-mail:</label>
            <input type="email" id="email" placeholder="Enter your e-mail"/>

            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="50" rows="5" placeholder="Enter your message"></textarea>

            <button class="submitBtn">Submit</button>
          </div>
        </div>
      </div>
    </main>

    <script src="../../travelRecommendation/travel_recommendation.js"></script>
  </body>
</html>
